@model Exemplo1.Models.Produto

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>

@using (Html.BeginForm())
{
    <p> @Html.ValidationSummary()</p>

    @Html.EditorForModel()

<p><input type="submit" class="btn btn-default" value="Alterar"></p>
}
