@model Exemplo1.Models.Produto

@{
    ViewBag.Title = "Inserir";
}

<h2>Inserir novo Produto</h2>

@using (Html.BeginForm())
{
    <p>@Html.ValidationSummary() </p>

    @Html.EditorForModel()

<p><input type="submit" value="Inserir"/></p>
}