@model Exemplo1.Models.Cliente

@{
    ViewBag.Title = "Inserir Novo Cliente";
}

<h2>Inserir</h2>

@using (@Html.BeginForm())
{
    <p> @Html.ValidationSummary(true) </p>
    
    @Html.EditorForModel();    

<p><input type="submit" class="btn btn-default" value="Inserir"></p>
}
